@use 'tokens-primitive' as *;

%caption {
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: 1.6;
}

%overline {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  line-height: 1.6;
}

%body-sm {
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}

%body-md {
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}

%label-sm {
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  line-height: 1.4;
}

%label-md {
  font-size: $font-size-md;
  font-weight: $font-weight-semibold;
  line-height: 1.4;
}

%heading-sm {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: 1.3;
}

%heading-sm-regular {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  line-height: 1.3;
}

%heading-md {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  line-height: 1.25;
}

%heading-md-regular {
  font-size: $font-size-xl;
  font-weight: $font-weight-regular;
  line-height: 1.25;
}

%heading-lg {
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
}

%heading-lg-regular {
  font-size: $font-size-2xl;
  font-weight: $font-weight-regular;
  line-height: 1.2;
}

%heading-xl {
  font-size: $font-size-3xl;
  font-weight: $font-weight-semibold;
  line-height: 1.15;
}

%heading-xl-regular {
  font-size: $font-size-3xl;
  font-weight: $font-weight-regular;
  line-height: 1.15;
}

%heading-2xl {
  font-size: $font-size-4xl;
  font-weight: $font-weight-semibold;
  line-height: 1.1;
}

%heading-2xl-regular {
  font-size: $font-size-4xl;
  font-weight: $font-weight-regular;
  line-height: 1.1;
}

%display {
  font-family: $font-family-display-italic;
  font-size: $font-size-display;
  font-weight: $font-weight-semibold;
  font-style: italic;
  line-height: 1.1;
}

%overline-lg {
  font-size: $font-size-5xl;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  line-height: 1.1;
}

%overline-md {
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  line-height: 1.28;
}

%overline-md-bold {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  line-height: 1.28;
}
